#!/usr/bin/make -f

BUILDDIR = build

# secondly called by launchpad
build:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); cmake .. \
	                         -DCMAKE_INSTALL_PREFIX=../debian/tmp/usr \
							 -DCMAKE_BUILD_TYPE=Release \
 							 -DBUILD_SHARED_LIBS=ON \
 							 -DBUILD_PYTHON_PACKAGES=OFF \
							 -DADD_PYTHON_PACKAGES_TO_RPM=OFF \
							 -DBUILD_TESTS=OFF \
							 -DINSTALL_BASH_COMPLETION=OFF \
							 -DINSTALL_TESTS=OFF \
							 -Dcomma_INSTALL_LIB_DIR=lib/x86_64-linux-gnu \
							 -Dcomma_INSTALL_PACKAGE_DIR=lib/x86_64-linux-gnu/cmake/comma \
							 -Dcomma_BUILD_XML=OFF \
							 -Dcomma_BUILD_ZEROMQ=OFF \
							 -Dcomma_build_io_rabbit_cat=OFF
	make -C $(BUILDDIR)

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	cd $(BUILDDIR); cmake -P cmake_install.cmake
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -pcomma
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	rm -f build
	rm -rf $(BUILDDIR)
	rm -f debian/files

.PHONY: binary binary-arch binary-indep clean
