Source: hello-worlkd
Standards-Version: 4.6.0.1
Section: devel
Priority: optional
Maintainer: Vsevolod Vlaskine <vsevolod.vlaskine@gmail.com>
Build-Depends: cmake
Homepage: https://gitlab.com/orthographic

Package: hello-world
Architecture: any
Depends: 
Description: First test-package
 Long description of hello-world.
 It can span multiple lines!
